@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   scrollbar-width: none;
   color: white;
   font-family: "TripSans-Medium", "sans-serif";
 }

 @font-face {
   font-family: TripSans-Medium;
   src: url("../public/fonts/TripSans-Medium.ttf");
 }

 @font-face {
  font-family: TripSans-Regular;
  src: url("../public/fonts/TripSans-Regular.ttf");
}

 body::-webkit-scrollbar {
   display: none;
 }

 .scroll::-webkit-scrollbar {
   display: none;
 }

 .scroll {
   scrollbar-width: none;
 }

 html {
   -webkit-tap-highlight-color: transparent;
   height: 100%;
   scroll-behavior: smooth;
 }

 .switch {
  width: 170px;
  height: 100px;
  border-radius: 100px;
  padding: 10px;
  display: flex;
  cursor: pointer;
}

.switch.on {
  background-color: #22cc88;
  justify-content: flex-end;
}

.switch.off {
  background-color: #dddddd;
  justify-content: flex-start;
}

.switch div {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 200px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.02);
}
